@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  color: $bgColor1;
  font-family: $font;
  z-index: 100;
  position: absolute;
  transition: all 0.35s ease;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.brand-title > img {
  transform: translateY(5.5px);
}

.navLinks {
  height: 100%;
}

.navLinks ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: $bgColor1;
}

.navLinks li a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0;
  height: 2px;
  background-color: #c3a368;
  transition: opacity 0.3s ease, width 0.3s ease;
}
.navLinks li a:hover:after {
  width: 100%;
}

.toggle {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}

@media (max-width: 600px) {
  .toggle {
    display: flex;
    transform: scale(0 0) rotate(-360deg);

    transition: all 500ms ease;
  }

  .toggle.active {
    transform: scale(1.3, 1.3) rotate(360deg);

    transition: all 500ms ease;
  }

  .navLinks {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navLinks ul {
    flex-direction: column;
    width: 100%;
  }

  .navLinks li {
    text-align: center;
  }
  .navLinks li a {
    padding: 0.5rem 1rem;
  }
  .navLinks li a:hover:after {
    width: 12%;
  }

  .navLinks.active {
    display: flex;
  }
}
