@import "./header";
@import "./variables";
@import "./animations";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  scroll-snap-align: start;
}
.main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}
.cover {
  @include backgroundImg;
}
.name {
  min-height: 80vh;
  @include flexCenter();
  color: #e7e7e8;
  font-family: $font;
}

.name h1 {
  font-size: 50px;
}

.name p {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.animateP {
  animation: animation1 1500ms cubic-bezier(0.65, 0.05, 0.36, 1) normal;
}
.arrow {
  transition: all 500ms ease 0s;
  opacity: 1;
  animation: downArrow 3000ms infinite;
}

.about {
  @include flexCenter();
  background: $bgColor1;
  flex-direction: column;
  width: 100%;
}
.about-me {
  max-width: 70%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: $font;
  transition: all 300ms;
}
.about-me h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.about-me p {
  font-size: 20px;
  line-height: 35px;
}

.projects {
  background-color: $bgColor2;
  min-height: 100vh;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  align-content: center;
}
@media (min-width: 600px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px $boxColor, 0 2px 2px $boxColor, 0 4px 4px $boxColor,
    0 8px 8px $boxColor, 0 16px 16px $boxColor;
  z-index: 0.9;
}
@media (max-width: 600px) {
  .card {
    height: 350px;
    margin-left: 10%;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform 700ms $movement;

  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: $gradient;
  transform: translateY(-50%);
  transition: transform calc($time * 2) $movement;
}

.card:nth-child(1):before {
  background-image: url(/Assets/pingpoints.png);
}
.card:nth-child(2):before {
  background-image: url(/Assets/drum-kit.png);
}
.card:nth-child(3):before {
  background-image: url(/Assets/pictures.png);
}
.card:nth-child(4):before {
  background-image: url(/Assets/videos.png);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform $time $movement;
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  position: relative;
  top: 0px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  transition: all 0.3s ease-in;
}

.copy {
  font-family: $font;
  font-size: 1.125rem;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform $time $movement, opacity $time $movement;
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc($time / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 1s;
  }
}

.skills {
  @include flexCenter();
  flex-direction: row;
  background-color: $bgColor1;
  font-family: $font;
}

.skillsIntro {
  @include flexCenter();
  max-width: 50%;
  width: 100%;
}
.skillsIntro-animation {
  animation: 1500ms ease 0s 1 normal none running animation1;
}
.skillsIntro h2 {
  font-size: 40px;
}
.skillsIntro p {
  font-size: 20px;
}

.icons > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
}
.icons-animation {
  animation: 1500ms ease 0s 1 normal none running animation2;
}
.icons > ul > li {
  text-align: center;
  margin: 15px 15px;
  padding: 0;
}
.icons > ul > li:hover > img {
  transform: rotate(360deg);
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .cover {
    background-image: url(../Assets/mobile-background.jpg);

    background-size: cover;
  }
  .skills {
    flex-direction: column;
  }

  .skillsIntro {
    width: 100%;
    text-align: center;
    margin: -50%;
  }

  .icons {
    margin-left: 10%;
  }
  .main {
    scroll-snap-type: none;
  }
}
.contact {
  @include flexCenter();
  background-color: $bgColor2;
}

.contactIntro {
  font-family: $font;
  font-size: 25px;
}

.contactIntro-animation {
  animation: 1500ms ease 0s 1 normal none running animation1;
}

// .contactIntro {
// }
.contactIcon > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transform: translateX(-16px);
}
.contactIcon > ul > li {
  margin: 35px;
  padding: 0;
}

// *************animation*************

.animation1 {
  animation: 2000ms ease 200ms 1 normal animation1;
}

.animation2 {
  animation: 2000ms ease 200ms 1 normal animation2;
}

.animation3 {
  animation: 2000ms ease 200ms 1 normal animation3;
}

.icon1-animation {
  animation: 800ms ease 0s 1 normal none running animation2;
}
.icon2-animation {
  animation: 1500ms ease 0s 1 normal none running animation2;
}
.icon3-animation {
  animation: 2000ms ease 0s 1 normal none running animation2;
}
